h1 Schedule新規登録

-#現時点で簡単な入力フィールド作成今後、PDF対応2018/11/9

.nav.justify-content-end
 =link_to '一覧', schedules_path, class: 'nav-link'

= form_with model: @schedule, local: true do |f|
  .form-group
   =f.label :dpm, '学科'
   =f.select :dpm, [["R","R"],["S","S"]], class: 'form-control', id: 'schedule_calssNo'
   =f.label :datenow, '年月'
   =f.date_select :datenow, discard_day: true
  =f.submit '生成する', class: 'btn btn-primary'
